# Daily CSV Standardization
*Jamie Prezioso, August 23, 2020*

This notebook is testing how to standardize daily CSV files from the COVID-19 dataset for D4BL.

In [20]:
import os
import glob
import pandas as pd

In [27]:
# Test files 
f1 = '../csv/covid_disparities_output_2020-08-01.csv'
f2 = '../csv/covid_disparities_output_2020-08-19.csv' # Most recent
f3 = '../csv/covid_disparities_output_2020-07-01.csv'

df1 = pd.read_csv(f1)
print('Filename: ' + f1)
df1.head()

Filename: ../csv/covid_disparities_output_2020-08-01.csv

,Location,Date Published,Total Cases,Total Deaths,Count Cases Black/AA,Count Deaths Black/AA,Pct Cases Black/AA,Pct Deaths Black/AA,Pct Includes Unknown Race,Pct Includes Hispanic Black,Count Cases Known Race,Count Deaths Known Race,Black/AA Population,Pct Black/AA Population,Status code
0,Illinois,2020-08-01,180476.0,7503.0,29784.0,2059.0,16.50,27.44,True,False,NaN,NaN,1824125.0,14.23,Success!
1,Louisiana,2020-07-29,116280.0,3835.0,41962.0,1884.0,44.38,50.36,False,True,94556.0,3741.0,1502916.0,32.23,Success!
2,Washington,2020-08-01,57541.0,1592.0,2134.0,51.0,5.49,3.29,False,False,38840.0,1551.0,269854.0,3.70,Success!
3,North Carolina,2020-08-01,123878.0,1964.0,21584.0,591.0,24.06,31.30,False,True,89713.0,1888.0,2179622.0,21.46,Success!
4,Wyoming,2020-08-01,2769.0,26.0,27.0,0.0,1.01,0.00,False,False,2669.0,25.0,5540.0,0.95,Success!

In [22]:
print('Filename: ' + f2)
df2 = pd.read_csv(f2)
df2.head()

Filename: ../csv/covid_disparities_output_2020-08-19.csv

,Date Run,Date/Time Run,Location,Date Published,Total Cases,Total Deaths,Count Cases Black/AA,Count Deaths Black/AA,Pct Cases Black/AA,Pct Deaths Black/AA,Pct Includes Unknown Race,Pct Includes Hispanic Black,Count Cases Known Race,Count Deaths Known Race,Black/AA Population,Pct Black/AA Population,Status code
0,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,Alabama,2020-08-19,106784.0,1876.0,28664.0,769.0,41.92,42.51,False,False,68376.0,1809.0,1293186.0,26.58,Success!
1,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,Alaska,2020-08-19,2731.0,28.0,154.0,0.0,6.31,0.00,False,True,2441.0,28.0,24129.0,3.27,Success!
2,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,Arizona,2020-08-19,195557.0,4634.0,4918.0,142.0,4.50,3.55,False,False,109208.0,3997.0,305259.0,4.39,Success!
3,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,Arkansas,2020-08-19,54216.0,631.0,11909.0,163.0,24.59,25.83,False,True,48431.0,631.0,460970.0,15.41,Success!
4,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,California,2020-08-17 00:00:00,632667.0,11342.0,17615.0,876.0,4.28,8.03,False,False,411365.0,10910.0,2267875.0,5.79,Success!

In [23]:
c1 = list(df1.columns)
c1

['Location',
 'Date Published',
 'Total Cases',
 'Total Deaths',
 'Count Cases Black/AA',
 'Count Deaths Black/AA',
 'Pct Cases Black/AA',
 'Pct Deaths Black/AA',
 'Pct Includes Unknown Race',
 'Pct Includes Hispanic Black',
 'Count Cases Known Race',
 'Count Deaths Known Race',
 'Black/AA Population',
 'Pct Black/AA Population',
 'Status code']

In [24]:
c2 = list(df2.columns)
c2

['Date Run',
 'Date/Time Run',
 'Location',
 'Date Published',
 'Total Cases',
 'Total Deaths',
 'Count Cases Black/AA',
 'Count Deaths Black/AA',
 'Pct Cases Black/AA',
 'Pct Deaths Black/AA',
 'Pct Includes Unknown Race',
 'Pct Includes Hispanic Black',
 'Count Cases Known Race',
 'Count Deaths Known Race',
 'Black/AA Population',
 'Pct Black/AA Population',
 'Status code']

In [25]:
set(c1) == set(c2)

False

In [18]:
len(c1)

15

In [19]:
len(c2)

17

In [30]:
df3 = pd.read_csv(f3)
print('Filename: ' + f3)
c3 = list(df3.columns)

df3.head()

Filename: ../csv/covid_disparities_output_2020-07-01.csv

,Location,Date Published,Total Cases,Total Deaths,Count Cases Black/AA,Count Deaths Black/AA,Pct Cases Black/AA,Pct Deaths Black/AA,Pct Includes Unknown Race,Pct Includes Hispanic Black,Status code
0,Washington,2020-07-01,33435.0,1339.0,1366.0,43.0,6.00,3.00,False,False,Success!
1,North Carolina,2020-07-01,66513.0,1373.0,10818.0,436.0,16.26,31.76,False,True,Success!
2,NewYorkCity,2020-07-01,212412.0,18497.0,33061.0,5166.0,30.16,30.48,False,True,Success!
3,Wisconsin,2020-07-01,29199.0,786.0,5085.0,185.0,19.43,23.87,False,True,Success!
4,Wisconsin -- Milwaukee,2020-07-01,11553.0,355.0,3289.0,143.0,30.77,40.28,False,False,Success!

In [32]:
len(c3)

11

In [33]:
c3

['Location',
 'Date Published',
 'Total Cases',
 'Total Deaths',
 'Count Cases Black/AA',
 'Count Deaths Black/AA',
 'Pct Cases Black/AA',
 'Pct Deaths Black/AA',
 'Pct Includes Unknown Race',
 'Pct Includes Hispanic Black',
 'Status code']

In [34]:
c1

['Location',
 'Date Published',
 'Total Cases',
 'Total Deaths',
 'Count Cases Black/AA',
 'Count Deaths Black/AA',
 'Pct Cases Black/AA',
 'Pct Deaths Black/AA',
 'Pct Includes Unknown Race',
 'Pct Includes Hispanic Black',
 'Count Cases Known Race',
 'Count Deaths Known Race',
 'Black/AA Population',
 'Pct Black/AA Population',
 'Status code']

To join, we can use outer join to create a csv with all headers. With outer joins, you’ll merge your data based on all the keys in the left object, the right object, or both. For keys that only exist in one object, unmatched columns in the other object will be filled in with NaN (Not a Number).  More information [here](https://realpython.com/pandas-merge-join-and-concat/#how-to-merge)

In [36]:
# Testing with smaller datasets 
df1sm = df1[0:3]
df2sm = df2[0:4]

In [37]:
df1sm

,Location,Date Published,Total Cases,Total Deaths,Count Cases Black/AA,Count Deaths Black/AA,Pct Cases Black/AA,Pct Deaths Black/AA,Pct Includes Unknown Race,Pct Includes Hispanic Black,Status code
0,Washington,2020-07-01,33435.0,1339.0,1366.0,43.0,6.00,3.00,False,False,Success!
1,North Carolina,2020-07-01,66513.0,1373.0,10818.0,436.0,16.26,31.76,False,True,Success!
2,NewYorkCity,2020-07-01,212412.0,18497.0,33061.0,5166.0,30.16,30.48,False,True,Success!

In [38]:
df2sm

,Date Run,Date/Time Run,Location,Date Published,Total Cases,Total Deaths,Count Cases Black/AA,Count Deaths Black/AA,Pct Cases Black/AA,Pct Deaths Black/AA,Pct Includes Unknown Race,Pct Includes Hispanic Black,Count Cases Known Race,Count Deaths Known Race,Black/AA Population,Pct Black/AA Population,Status code
0,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,Alabama,2020-08-19,106784.0,1876.0,28664.0,769.0,41.92,42.51,False,False,68376.0,1809.0,1293186.0,26.58,Success!
1,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,Alaska,2020-08-19,2731.0,28.0,154.0,0.0,6.31,0.00,False,True,2441.0,28.0,24129.0,3.27,Success!
2,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,Arizona,2020-08-19,195557.0,4634.0,4918.0,142.0,4.50,3.55,False,False,109208.0,3997.0,305259.0,4.39,Success!
3,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,Arkansas,2020-08-19,54216.0,631.0,11909.0,163.0,24.59,25.83,False,True,48431.0,631.0,460970.0,15.41,Success!

In [39]:
outer_merged = pd.merge(df2sm, df1sm, how="outer")
outer_merged.head()
outer_merged.shape

ValueError: You are trying to merge on float64 and object columns. If you wish to proceed you should use pd.concat

In [45]:
pd.concat([df1sm,df2sm],ignore_index=True)

,Location,Date Published,Total Cases,Total Deaths,Count Cases Black/AA,Count Deaths Black/AA,Pct Cases Black/AA,Pct Deaths Black/AA,Pct Includes Unknown Race,Pct Includes Hispanic Black,Status code,Date Run,Date/Time Run,Count Cases Known Race,Count Deaths Known Race,Black/AA Population,Pct Black/AA Population
0,Washington,2020-07-01,33435.0,1339.0,1366.0,43.0,6.00,3.00,False,False,Success!,NaN,NaN,NaN,NaN,NaN,NaN
1,North Carolina,2020-07-01,66513.0,1373.0,10818.0,436.0,16.26,31.76,False,True,Success!,NaN,NaN,NaN,NaN,NaN,NaN
2,NewYorkCity,2020-07-01,212412.0,18497.0,33061.0,5166.0,30.16,30.48,False,True,Success!,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabama,2020-08-19,106784.0,1876.0,28664.0,769,41.92,42.51,False,False,Success!,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,68376.0,1809.0,1293186.0,26.58
4,Alaska,2020-08-19,2731.0,28.0,154.0,0,6.31,0.00,False,True,Success!,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,2441.0,28.0,24129.0,3.27
5,Arizona,2020-08-19,195557.0,4634.0,4918.0,142,4.50,3.55,False,False,Success!,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,109208.0,3997.0,305259.0,4.39
6,Arkansas,2020-08-19,54216.0,631.0,11909.0,163,24.59,25.83,False,True,Success!,2020-08-19,2020/08/19 19:34:57America/Los Angeles TZ,48431.0,631.0,460970.0,15.41