# Data 4 Black Lives - COVID-19 Case/Death Disparities

Objective: Extract COVID-19 cases and deaths for each geographic location, both overall and for Black/African-Americans only.

Data sources for 3 locations (Massachusetts, Virginia, and Washington DC) can be read in directly from CSVs and Excel workbooks. This will be very easy to extract.

In [1]:
% pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/53/a4/66add528eca00398af98f181772006750019eb9f2d68c7c6fdd53ba661c5/tabula_py-2.1.0-py3-none-any.whl (10.4MB)
     |████████████████████████████████| 10.4MB 2.6MB/s
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.3)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.0.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.12.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.1.0

In [2]:
! sudo apt-get install build-essential libpoppler-cpp-dev pkg-config python-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
build-essential is already the newest version (12.4ubuntu1).
pkg-config is already the newest version (0.29.1-0ubuntu2).
python-dev is already the newest version (2.7.15~rc1-1).
The following additional packages will be installed:
  libpoppler-cpp0v5 libpoppler-dev
The following NEW packages will be installed:
  libpoppler-cpp-dev libpoppler-cpp0v5 libpoppler-dev
0 upgraded, 3 newly installed, 0 to remove and 25 not upgraded.
Need to get 41.3 kB of archives.
After this operation, 233 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpoppler-cpp0v5 amd64 0.62.0-2ubuntu2.10 [28.0 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpoppler-dev amd64 0.62.0-2ubuntu2.10 [4,608 B]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpoppler-cpp-dev amd64 0.62.0-2ubuntu2.10 [8,684 B]
Fetched 41.3 kB in 0s (100 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libpoppler-cpp0v5:amd64.
(Reading database ... 144568 files and directories currently installed.)
Preparing to unpack .../libpoppler-cpp0v5_0.62.0-2ubuntu2.10_amd64.deb ...
Unpacking libpoppler-cpp0v5:amd64 (0.62.0-2ubuntu2.10) ...
Selecting previously unselected package libpoppler-dev:amd64.
Preparing to unpack .../libpoppler-dev_0.62.0-2ubuntu2.10_amd64.deb ...
Unpacking libpoppler-dev:amd64 (0.62.0-2ubuntu2.10) ...
Selecting previously unselected package libpoppler-cpp-dev:amd64.
Preparing to unpack .../libpoppler-cpp-dev_0.62.0-2ubuntu2.10_amd64.deb ...
Unpacking libpoppler-cpp-dev:amd64 (0.62.0-2ubuntu2.10) ...
Setting up libpoppler-dev:amd64 (0.62.0-2ubuntu2.10) ...
Setting up libpoppler-cpp0v5:amd64 (0.62.0-2ubuntu2.10) ...
Setting up libpoppler-cpp-dev:amd64 (0.62.0-2ubuntu2.10) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [3]:
% pip install pdftotext

Collecting pdftotext
  Downloading https://files.pythonhosted.org/packages/58/38/f04c252f4cb2d10af9abcde0a2db1bcd38288a76a99e88333f2a434e0c40/pdftotext-2.1.4.tar.gz (113kB)
     |████████████████████████████████| 122kB 2.8MB/s
Building wheels for collected packages: pdftotext
  Building wheel for pdftotext (setup.py) ... done
  Created wheel for pdftotext: filename=pdftotext-2.1.4-cp36-cp36m-linux_x86_64.whl size=54081 sha256=44a1ac2d842db66047ea2bf69737d21ce8b4b12f1d4d535447becf5c35a970a2
  Stored in directory: /root/.cache/pip/wheels/88/c3/62/c1ef7f738f8c0c1ac67cbe63786cae734d555c5077088036f0
Successfully built pdftotext
Installing collected packages: pdftotext
Successfully installed pdftotext-2.1.4

In [4]:
! pip install camelot-py[cv]

Collecting camelot-py[cv]
  Downloading https://files.pythonhosted.org/packages/70/d6/a47894242a6fba58a2332489358afedc6209da43942ab7f850b932019101/camelot_py-0.7.3-py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 1.7MB/s
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (7.1.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (1.18.3)
Collecting pdfminer.six>=20170720
  Downloading https://files.pythonhosted.org/packages/0b/04/f62d5834c2bdf90afcaeb23bb5241033c44e27000de64ad8472253daa4a8/pdfminer.six-20200402-py3-none-any.whl (5.6MB)
     |████████████████████████████████| 5.6MB 6.1MB/s
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (3.0.4)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (2.5.9)
Collecting PyPDF2>=1.26.0
  Downloading https://files.pythonhosted.org/packages/b4/01/68fcc0d43daf4c6bdbc6b33cc3f77bda531c86b174cac56ef0ffdb96faab/PyPDF2-1.26.0.tar.gz (77kB)
     |████████████████████████████████| 81kB 10.1MB/s
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (1.0.3)
Requirement already satisfied: opencv-python>=3.4.2.17; extra == "cv" in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (4.1.2.30)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.6/dist-packages (from pdfminer.six>=20170720->camelot-py[cv]) (2.1.0)
Collecting pycryptodome
  Downloading https://files.pythonhosted.org/packages/af/16/da16a22d47bac9bf9db39f3b9af74e8eeed8855c0df96be20b580ef92fff/pycryptodome-3.9.7-cp36-cp36m-manylinux1_x86_64.whl (13.7MB)
     |████████████████████████████████| 13.7MB 42.7MB/s
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.0.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.23.4->camelot-py[cv]) (1.12.0)
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-cp36-none-any.whl size=61086 sha256=533a180d433ddfe8ba836bee57e5b64ba78c6faa7395f90b0c1490e3f3f29f2d
  Stored in directory: /root/.cache/pip/wheels/53/84/19/35bc977c8bf5f0c23a8a011aa958acd4da4bbd7a229315c1b7
Successfully built PyPDF2
Installing collected packages: pycryptodome, pdfminer.six, PyPDF2, camelot-py
Successfully installed PyPDF2-1.26.0 camelot-py-0.7.3 pdfminer.six-20200402 pycryptodome-3.9.7

In [5]:
! apt install python3-tk ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
python3-tk is already the newest version (3.6.9-1~18.04).
The following additional packages will be installed:
  fonts-droid-fallback fonts-noto-mono gsfonts libcupsfilters1 libcupsimage2
  libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
Suggested packages:
  fonts-noto ghostscript-x poppler-utils fonts-japanese-mincho
  | fonts-ipafont-mincho fonts-japanese-gothic | fonts-ipafont-gothic
  fonts-arphic-ukai fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  fonts-droid-fallback fonts-noto-mono ghostscript gsfonts libcupsfilters1
  libcupsimage2 libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
0 upgraded, 11 newly installed, 0 to remove and 25 not upgraded.
Need to get 14.1 MB of archives.
After this operation, 49.9 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Ign:4 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.7
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.12 [5,092 kB]
Err:4 http://security.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.7
  404  Not Found [IP: 91.189.88.152 80]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.12 [2,264 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ghostscript amd64 9.26~dfsg+0-0ubuntu0.18.04.12 [50.9 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 gsfonts all 1:8.11+urwcyr1.0.7~pre44-4.4 [3,120 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Fetched 14.1 MB in 1s (10.9 MB/s)
E: Failed to fetch http://security.ubuntu.com/ubuntu/pool/main/c/cups/libcupsimage2_2.2.7-1ubuntu2.7_amd64.deb  404  Not Found [IP: 91.189.88.152 80]
E: Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?

In [6]:
! pip install ghostscript

Collecting ghostscript
  Downloading https://files.pythonhosted.org/packages/d0/bd/c96072da3a98a498285382ec6ee4b18379c021e4bb6561308e25bc4c04d0/ghostscript-0.6-py2.py3-none-any.whl
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from ghostscript) (46.1.3)
Installing collected packages: ghostscript
Successfully installed ghostscript-0.6

In [0]:
#!gs -version
import tkinter

In [0]:
from tabula import read_pdf
import pdftotext
import camelot
import os
from datetime import datetime, timedelta

In [0]:
% mkdir data
% mkdir data/san_diego
% mkdir data/florida
% mkdir data/nyc

In [0]:
home_dir = '/content'

In [0]:
## Dictionary to hold results
output = dict()

In [12]:
!pwd

/content

## San Diego

In [0]:
path_sd = os.path.join(home_dir, 'data', 'san_diego')
os.chdir(path_sd)

In [14]:
!wget -O sd_cases.pdf  'https://www.sandiegocounty.gov/content/dam/sdc/hhsa/programs/phs/Epidemiology/COVID-19%20Race%20and%20Ethnicity%20Summary.pdf'
!wget -O sd_deaths.pdf  'https://www.sandiegocounty.gov/content/dam/sdc/hhsa/programs/phs/Epidemiology/COVID-19%20Deaths%20by%20Demographics.pdf'

--2020-05-05 15:42:53--  https://www.sandiegocounty.gov/content/dam/sdc/hhsa/programs/phs/Epidemiology/COVID-19%20Race%20and%20Ethnicity%20Summary.pdf
Resolving www.sandiegocounty.gov (www.sandiegocounty.gov)... 104.126.159.159, 2600:1402:2000:1a7::2608, 2600:1402:2000:1aa::2608
Connecting to www.sandiegocounty.gov (www.sandiegocounty.gov)|104.126.159.159|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 197449 (193K) [application/pdf]
Saving to: ‘sd_cases.pdf’

sd_cases.pdf        100%[===================>] 192.82K  --.-KB/s    in 0.05s

2020-05-05 15:42:53 (3.80 MB/s) - ‘sd_cases.pdf’ saved [197449/197449]

--2020-05-05 15:42:54--  https://www.sandiegocounty.gov/content/dam/sdc/hhsa/programs/phs/Epidemiology/COVID-19%20Deaths%20by%20Demographics.pdf
Resolving www.sandiegocounty.gov (www.sandiegocounty.gov)... 104.126.159.159, 2600:1402:2000:1a7::2608, 2600:1402:2000:1aa::2608
Connecting to www.sandiegocounty.gov (www.sandiegocounty.gov)|104.126.159.159|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 146902 (143K) [application/pdf]
Saving to: ‘sd_deaths.pdf’

sd_deaths.pdf       100%[===================>] 143.46K  --.-KB/s    in 0.04s

2020-05-05 15:42:54 (3.56 MB/s) - ‘sd_deaths.pdf’ saved [146902/146902]

In [15]:
sd_cases_raw = read_pdf('sd_cases.pdf')[0]; sd_cases_raw

'pages' argument isn't specified.Will extract only from page 1 by default.

        COVID-19 Case Summary  ...         Unnamed: 1
0             Total Positives  ...                NaN
1                         NaN  ...                NaN
2          Race and Ethnicity  ...  Rate per 100,000*
3          Hispanic or Latino  ...              153.4
4                       White  ...               62.1
5   Black or African American  ...               99.5
6                       Asian  ...               77.7
7            Pacific Islander  ...              231.1
8             American Indian  ...                NaN
9               Multiple Race  ...               32.1
10     Race/Ethnicity Unknown  ...                NaN

[11 rows x 4 columns]

In [16]:
sd_cases = sd_cases_raw.drop(index=[0,1]).reset_index().drop(columns=['index'])
sd_cases.columns = sd_cases.loc[0]
sd_cases = sd_cases.drop(index=[0])
sd_cases['Count'] = [int(x.replace(',', '')) for x in sd_cases['Count']]
sd_cases = sd_cases[['Race and Ethnicity', 'Count']]
sd_cases

0         Race and Ethnicity  Count
1         Hispanic or Latino   1765
2                      White    948
3  Black or African American    147
4                      Asian    283
5           Pacific Islander     34
6            American Indian      8
7              Multiple Race     36
8     Race/Ethnicity Unknown    799

In [17]:
sd_total_cases = sd_cases.Count.sum(); print(sd_total_cases)
sd_cases['Percent'] = round(100 * sd_cases['Count'] / sd_total_cases, 2)
sd_cases

4020

0         Race and Ethnicity  Count  Percent
1         Hispanic or Latino   1765    43.91
2                      White    948    23.58
3  Black or African American    147     3.66
4                      Asian    283     7.04
5           Pacific Islander     34     0.85
6            American Indian      8     0.20
7              Multiple Race     36     0.90
8     Race/Ethnicity Unknown    799    19.88

In [18]:
sd_aa_cases_pct = sd_cases.set_index('Race and Ethnicity').loc['Black or African American','Percent']; sd_aa_cases_pct

3.66

In [19]:
sd_deaths_raw = read_pdf('sd_deaths.pdf')[0]; sd_deaths_raw

'pages' argument isn't specified.Will extract only from page 1 by default.
Got stderr: May 05, 2020 3:43:00 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
May 05, 2020 3:43:00 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
May 05, 2020 3:43:00 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 17 fonts
May 05, 2020 3:43:00 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'CenturyGothic'
May 05, 2020 3:43:01 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'CenturyGothic'
May 05, 2020 3:43:02 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'CenturyGothic'

                                         Unnamed: 0 San Diego County Residents
0                                      Total Deaths                        144
1   % of Deaths with Known Selected Characteristics                      Count
2                                               NaN               Demographics
3                                        Age Groups                        NaN
4                                         0-9 years                     0 0.0%
5                                       10-19 years                     0 0.0%
6                                       20-29 years                     2 1.4%
7                                       30-39 years                     2 1.4%
8                                       40-49 years                     4 2.8%
9                                       50-59 years                    12 8.3%
10                                      60-69 years                   20 13.9%
11                                      70-79 years                   35 24.3%
12                                        80+ years                   69 47.9%
13                                      Age Unknown                          0
14                                           Gender                        NaN
15                                           Female                   63 43.8%
16                                             Male                   81 56.3%
17                                   Gender Unknown                          0
18                                              NaN                        NaN
19                               Hispanic or Latino                   51 37.8%
20                                            White                   67 49.6%
21                        Black or African American                     4 3.0%
22                                            Asian                    10 7.4%
23                                 Pacific Islander                     1 0.7%
24                                  American Indian                     1 0.7%
25                                    Multiple Race                     1 0.7%
26                           Race/Ethnicity Unknown                          9

In [20]:
sd_deaths = sd_deaths_raw.loc[19:,:].copy().reset_index().drop(columns=['index']); sd_deaths
sd_deaths['Count'] = [int(x.split()[0]) for x in sd_deaths['San Diego County Residents']]
del sd_deaths['San Diego County Residents']
sd_deaths.columns = ['Race/Ethnicity', 'Count']
sd_deaths

              Race/Ethnicity  Count
0         Hispanic or Latino     51
1                      White     67
2  Black or African American      4
3                      Asian     10
4           Pacific Islander      1
5            American Indian      1
6              Multiple Race      1
7     Race/Ethnicity Unknown      9

In [21]:
sd_total_deaths = sd_deaths.Count.sum(); print(sd_total_deaths)
sd_deaths['Percent'] = round(100 * sd_deaths['Count'] / sd_total_deaths, 2)
sd_deaths

144

              Race/Ethnicity  Count  Percent
0         Hispanic or Latino     51    35.42
1                      White     67    46.53
2  Black or African American      4     2.78
3                      Asian     10     6.94
4           Pacific Islander      1     0.69
5            American Indian      1     0.69
6              Multiple Race      1     0.69
7     Race/Ethnicity Unknown      9     6.25

In [22]:
sd_aa_deaths_pct = sd_deaths.set_index('Race/Ethnicity').loc['Black or African American','Percent']; sd_aa_deaths_pct

2.78

In [23]:
sd_max_date = (datetime.now() - timedelta(days=1)).strftime('%-m/%-d/%Y'); sd_max_date

'5/4/2020'

In [24]:
output['California - San Diego'] = {
    'Date Published': sd_max_date,
    'Total Cases': sd_total_cases,
    'Total Deaths': sd_total_deaths,
    'Pct Cases Black/AA': sd_aa_cases_pct,
    'Pct Deaths Black/AA': sd_aa_deaths_pct
}

output

{'California - San Diego': {'Date Published': '5/4/2020',
  'Pct Cases Black/AA': 3.66,
  'Pct Deaths Black/AA': 2.78,
  'Total Cases': 4020,
  'Total Deaths': 144}}

## Florida

In [0]:
path_fl = os.path.join(home_dir, 'data', 'florida')
os.chdir(path_fl)

In [26]:
!wget -O florida.pdf "https://floridadisaster.org/globalassets/covid19/dailies/covid-19-data---daily-report-2020-05-03-1007.pdf"

--2020-05-05 15:43:03--  https://floridadisaster.org/globalassets/covid19/dailies/covid-19-data---daily-report-2020-05-03-1007.pdf
Resolving floridadisaster.org (floridadisaster.org)... 164.51.190.229
Connecting to floridadisaster.org (floridadisaster.org)|164.51.190.229|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 29436404 (28M) [application/pdf]
Saving to: ‘florida.pdf’

florida.pdf         100%[===================>]  28.07M  1.74MB/s    in 16s

2020-05-05 15:43:20 (1.71 MB/s) - ‘florida.pdf’ saved [29436404/29436404]

In [77]:
!ls

florida.pdf

In [27]:
!sudo apt-get install qpdf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libqpdf21
The following NEW packages will be installed:
  libqpdf21 qpdf
0 upgraded, 2 newly installed, 0 to remove and 25 not upgraded.
Need to get 527 kB of archives.
After this operation, 1,438 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 libqpdf21 amd64 8.0.2-3 [289 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 qpdf amd64 8.0.2-3 [238 kB]
Fetched 527 kB in 1s (661 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 2.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libqpdf21:amd64.
(Reading database ... 144598 files and directories currently installed.)
Preparing to unpack .../libqpdf21_8.0.2-3_amd64.deb ...
Unpacking libqpdf21:amd64 (8.0.2-3) ...
Selecting previously unselected package qpdf.
Preparing to unpack .../qpdf_8.0.2-3_amd64.deb ...
Unpacking qpdf (8.0.2-3) ...
Setting up libqpdf21:amd64 (8.0.2-3) ...
Setting up qpdf (8.0.2-3) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [0]:
!qpdf --empty --pages florida.pdf 3 -- florida_page_3.pdf

In [0]:
sd_deaths_raw = read_pdf('sd_deaths.pdf')[0]; sd_deaths_raw

In [29]:
help(read_pdf)

Help on function read_pdf in module tabula.io:

read_pdf(input_path, output_format=None, encoding='utf-8', java_options=None, pandas_options=None, multiple_tables=True, user_agent=None, **kwargs)
    Read tables in PDF.

    Args:
        input_path (str, path object or file-like object):
            File like object of tareget PDF file.
            It can be URL, which is downloaded by tabula-py automatically.
        output_format (str, optional):
            Output format for returned object (``dataframe`` or ``json``)
        encoding (str, optional):
            Encoding type for pandas. Default: ``utf-8``
        java_options (list, optional):
            Set java options.

            Example:
                ``["-Xmx256m"]``
        pandas_options (dict, optional):
            Set pandas options.

            Example:
                ``{'header': None}``

            Note:
                With ``multiple_tables=True`` (default), pandas_options is passed
                to pandas.read_csv, otherwise it is passed to pandas.DataFrame.
                Those two functions are different for accept options like ``dtype``.
        multiple_tables (bool):
            It enables to handle multiple tables within a page. Default: ``True``

            Note:
                If `multiple_tables` option is enabled, tabula-py uses not
                :func:`pd.read_csv()`, but :func:`pd.DataFrame()`. Make
                sure to pass appropriate `pandas_options`.
        user_agent (str, optional):
            Set a custom user-agent when download a pdf from a url. Otherwise
            it uses the default ``urllib.request`` user-agent.
        kwargs:
            Dictionary of option for tabula-java. Details are shown in
            :func:`build_options()`

    Returns:
        list of DataFrames or dict.

    Raises:
        FileNotFoundError:
            If downloaded remote file doesn't exist.

        ValueError:
            If output_format is unknown format, or if downloaded remote file size is 0.

        tabula.errors.CSVParseError:
            If pandas CSV parsing failed.

        tabula.errors.JavaNotFoundError:
            If java is not installed or found.

        subprocess.CalledProcessError:
            If tabula-java execution failed.


    Examples:

        Here is a simple example.
        Note that :func:`read_pdf()` only extract page 1 by default.

        Notes:
            As of tabula-py 2.0.0, :func:`read_pdf()` sets `multiple_tables=True` by
            default. If you want to get consistent output with previous version, set
            `multiple_tables=False`.

        >>> import tabula
        >>> pdf_path = "https://github.com/chezou/tabula-py/raw/master/tests/resources/data.pdf"
        >>> tabula.read_pdf(pdf_path, stream=True)
        [             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
        0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
        1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
        2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
        3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
        4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
        5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
        6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
        7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
        8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
        9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
        10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
        11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
        12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
        13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
        14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
        15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
        16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
        17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
        18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
        19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
        20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
        21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
        22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
        23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
        24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
        25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
        26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
        27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
        28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
        29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
        30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
        31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2]

        If you want to extract all pages, set ``pages="all"``.

        >>> dfs = tabula.read_pdf(pdf_path, pages="all")
        >>> len(dfs)
        4
        >>> dfs
        [       0    1      2    3     4      5      6   7   8     9
        0    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear
        1   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
        2   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
        3   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
        4   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
        5   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3
        6   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3
        7   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3
        8   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4
        9   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4
        10  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4
        11  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4
        12  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3
        13  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3
        14  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3
        15  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3
        16  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3
        17  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3
        18  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4
        19  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4
        20  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4
        21  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3
        22  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3
        23  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3
        24  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3
        25  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3
        26  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4
        27  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5
        28  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5
        29  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5
        30  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5
        31  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5,               0            1             2            3        4
        0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
        1           5.1          3.5           1.4          0.2   setosa
        2           4.9          3.0           1.4          0.2   setosa
        3           4.7          3.2           1.3          0.2   setosa
        4           4.6          3.1           1.5          0.2   setosa
        5           5.0          3.6           1.4          0.2   setosa
        6           5.4          3.9           1.7          0.4   setosa,      0             1            2             3            4          5
        0  NaN  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
        1  145           6.7          3.3           5.7          2.5  virginica
        2  146           6.7          3.0           5.2          2.3  virginica
        3  147           6.3          2.5           5.0          1.9  virginica
        4  148           6.5          3.0           5.2          2.0  virginica
        5  149           6.2          3.4           5.4          2.3  virginica
        6  150           5.9          3.0           5.1          1.8  virginica,        0
        0   supp
        1     VC
        2     VC
        3     VC
        4     VC
        5     VC
        6     VC
        7     VC
        8     VC
        9     VC
        10    VC
        11    VC
        12    VC
        13    VC
        14    VC]

In [33]:
fl_raw = read_pdf('florida_page_3.pdf', guess=False, area=(1218.4599609375, 1, 670.152978515625, 941.539978027344)); fl_raw

'pages' argument isn't specified.Will extract only from page 1 by default.

[]

In [89]:
help(pdftotext.PDF)

Help on class PDF in module pdftotext:

class PDF(builtins.object)
 |  PDF(pdf_file, password="", raw=False)
 |
 |  Args:
 |      pdf_file: A file opened for reading in binary mode.
 |      password: Unlocks the document, if required. Either the owner
 |          password or the user password works.
 |      raw: If True, page text is output in the order it appears in the
 |          content stream, rather than in the order it appears on the
 |          page.
 |
 |  Example:
 |      with open("doc.pdf", "rb") as f:
 |          pdf = PDF(f)
 |      for page in pdf:
 |          print(page)
 |
 |  Methods defined here:
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [92]:
! pdftotext -layout -f 3 -f 3 florida.pdf

/bin/bash: pdftotext: command not found

In [81]:
fl_raw = read_pdf('florida.pdf', pages=[3]); fl_raw

[     0-4 years    190   1%     11   0%    0 0%.1     Male  17,525  50%
 0   5-14 years    406   1%      9   0%    0   0%   Female  17,598  50%
 1  15-24 years  2,636   7%     78   1%    0   0%  Unknown      35   0%
 2  25-34 years  5,186  15%    285   5%   12   1%    Total  35,158  NaN
 3  35-44 years  5,318  15%    515   9%   27   2%      NaN     NaN  NaN
 4  45-54 years  6,347  18%    788  13%   55   4%      NaN     NaN  NaN
 5  55-64 years  6,016  17%  1,046  17%  140  10%      NaN     NaN  NaN
 6  65-74 years  4,397  13%  1,325  22%  314  23%      NaN     NaN  NaN
 7  75-84 years  2,857   8%  1,194  20%  418  30%      NaN     NaN  NaN
 8    85+ years  1,793   5%    784  13%  413  30%      NaN     NaN  NaN]

In [83]:
fl_raw[0]

     0-4 years    190   1%     11   0%    0 0%.1     Male  17,525  50%
0   5-14 years    406   1%      9   0%    0   0%   Female  17,598  50%
1  15-24 years  2,636   7%     78   1%    0   0%  Unknown      35   0%
2  25-34 years  5,186  15%    285   5%   12   1%    Total  35,158  NaN
3  35-44 years  5,318  15%    515   9%   27   2%      NaN     NaN  NaN
4  45-54 years  6,347  18%    788  13%   55   4%      NaN     NaN  NaN
5  55-64 years  6,016  17%  1,046  17%  140  10%      NaN     NaN  NaN
6  65-74 years  4,397  13%  1,325  22%  314  23%      NaN     NaN  NaN
7  75-84 years  2,857   8%  1,194  20%  418  30%      NaN     NaN  NaN
8    85+ years  1,793   5%    784  13%  413  30%      NaN     NaN  NaN

In [82]:
len(fl_raw)

1

In [78]:
help(read_pdf)

Help on function read_pdf in module tabula.io:

read_pdf(input_path, output_format=None, encoding='utf-8', java_options=None, pandas_options=None, multiple_tables=True, user_agent=None, **kwargs)
    Read tables in PDF.

    Args:
        input_path (str, path object or file-like object):
            File like object of tareget PDF file.
            It can be URL, which is downloaded by tabula-py automatically.
        output_format (str, optional):
            Output format for returned object (``dataframe`` or ``json``)
        encoding (str, optional):
            Encoding type for pandas. Default: ``utf-8``
        java_options (list, optional):
            Set java options.

            Example:
                ``["-Xmx256m"]``
        pandas_options (dict, optional):
            Set pandas options.

            Example:
                ``{'header': None}``

            Note:
                With ``multiple_tables=True`` (default), pandas_options is passed
                to pandas.read_csv, otherwise it is passed to pandas.DataFrame.
                Those two functions are different for accept options like ``dtype``.
        multiple_tables (bool):
            It enables to handle multiple tables within a page. Default: ``True``

            Note:
                If `multiple_tables` option is enabled, tabula-py uses not
                :func:`pd.read_csv()`, but :func:`pd.DataFrame()`. Make
                sure to pass appropriate `pandas_options`.
        user_agent (str, optional):
            Set a custom user-agent when download a pdf from a url. Otherwise
            it uses the default ``urllib.request`` user-agent.
        kwargs:
            Dictionary of option for tabula-java. Details are shown in
            :func:`build_options()`

    Returns:
        list of DataFrames or dict.

    Raises:
        FileNotFoundError:
            If downloaded remote file doesn't exist.

        ValueError:
            If output_format is unknown format, or if downloaded remote file size is 0.

        tabula.errors.CSVParseError:
            If pandas CSV parsing failed.

        tabula.errors.JavaNotFoundError:
            If java is not installed or found.

        subprocess.CalledProcessError:
            If tabula-java execution failed.


    Examples:

        Here is a simple example.
        Note that :func:`read_pdf()` only extract page 1 by default.

        Notes:
            As of tabula-py 2.0.0, :func:`read_pdf()` sets `multiple_tables=True` by
            default. If you want to get consistent output with previous version, set
            `multiple_tables=False`.

        >>> import tabula
        >>> pdf_path = "https://github.com/chezou/tabula-py/raw/master/tests/resources/data.pdf"
        >>> tabula.read_pdf(pdf_path, stream=True)
        [             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
        0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
        1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
        2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
        3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
        4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
        5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
        6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
        7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
        8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
        9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
        10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
        11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
        12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
        13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
        14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
        15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
        16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
        17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
        18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
        19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
        20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
        21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
        22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
        23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
        24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
        25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
        26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
        27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
        28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
        29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
        30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
        31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2]

        If you want to extract all pages, set ``pages="all"``.

        >>> dfs = tabula.read_pdf(pdf_path, pages="all")
        >>> len(dfs)
        4
        >>> dfs
        [       0    1      2    3     4      5      6   7   8     9
        0    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear
        1   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
        2   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
        3   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
        4   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
        5   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3
        6   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3
        7   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3
        8   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4
        9   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4
        10  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4
        11  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4
        12  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3
        13  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3
        14  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3
        15  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3
        16  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3
        17  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3
        18  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4
        19  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4
        20  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4
        21  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3
        22  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3
        23  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3
        24  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3
        25  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3
        26  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4
        27  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5
        28  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5
        29  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5
        30  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5
        31  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5,               0            1             2            3        4
        0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
        1           5.1          3.5           1.4          0.2   setosa
        2           4.9          3.0           1.4          0.2   setosa
        3           4.7          3.2           1.3          0.2   setosa
        4           4.6          3.1           1.5          0.2   setosa
        5           5.0          3.6           1.4          0.2   setosa
        6           5.4          3.9           1.7          0.4   setosa,      0             1            2             3            4          5
        0  NaN  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
        1  145           6.7          3.3           5.7          2.5  virginica
        2  146           6.7          3.0           5.2          2.3  virginica
        3  147           6.3          2.5           5.0          1.9  virginica
        4  148           6.5          3.0           5.2          2.0  virginica
        5  149           6.2          3.4           5.4          2.3  virginica
        6  150           5.9          3.0           5.1          1.8  virginica,        0
        0   supp
        1     VC
        2     VC
        3     VC
        4     VC
        5     VC
        6     VC
        7     VC
        8     VC
        9     VC
        10    VC
        11    VC
        12    VC
        13    VC
        14    VC]